<title><%= siteTitle %> - <%= pageTitle %></title>

<!-- jQuery -->
<!-- <script src='fullcalendar-3.0.0/lib/jquery.min.js'></script> -->
<script src='fullcalendar-scheduler-1.4.0/lib/jquery.min.js'></script>

<!-- jQueryUI -->
<script src='fullcalendar-scheduler-1.4.0/lib/jquery-ui.min.js'></script>

<!-- jQueryMigrate -->    <!-- supposedly fixes the error "TypeError: f.getClientRects is not a function", but I got other errors -->
<!-- <script src='fullcalendar-scheduler-1.4.0/lib/jquery-migrate-3.0.0.js'></script> -->

<!-- Moment.js -->
<!-- <script src='fullcalendar-3.0.0/lib/moment.min.js'></script> -->
<script src='fullcalendar-scheduler-1.4.0/lib/moment.min.js'></script>

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/style.css">

<!-- look up viewport meta tag later -->
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

<!-- FullCalendar -->
<script src='fullcalendar-3.0.0/fullcalendar.min.js'></script>
<link rel='stylesheet' href='fullcalendar-3.0.0/fullcalendar.css'/>
<link rel='stylesheet' media='print' href='fullcalendar-3.0.0/fullcalendar.print.css'/>

<!-- FullCalendar Scheduler -->
<script src='fullcalendar-scheduler-1.4.0/scheduler.min.js'></script>
<link rel='stylesheet' href='fullcalendar-scheduler-1.4.0/scheduler.css'/>
<link rel='stylesheet' media='print' href='fullcalendar-3.0.0/fullcalendar.print.css'/>

<!-- my scheduler script, that used to be embedded in index.ejs -->
<script src='scripts/scheduler.js'></script>
