doctype html
html
  head
    title= title
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    //- link(rel='stylesheet', href='/javascripts/fullcalendar/fullcalendar.css')
    //- link(rel='stylesheet', media='print' href='/javascripts/fullcalendar/fullcalendar.print.css')
    //- script(src='/javascripts/jquery-3.1.0.js')
    //- script(src='/javascripts/moment.js')
    //- script(src='/javascripts/fullcalendar/fullcalendar.min.js')
    //- script(src='/javascripts/demo_calendar.js')
  body
    block content
