<!DOCTYPE html>

<html>

<head>
  <% include parts/template/head.ejs %>
</head>

<body id="<%= pageID %>">
  <div class="container-fluid">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#dailytab" role="tab" data-toggle="tab">Daily</a></li>
      <li><a href="#monthlytab" role="tab" data-toggle="tab">Monthly</a></li>
      <li><a href="#installerstab" role="tab" data-toggle="tab">Installers</a></li>
      <li><a href="#reportstab" role="tab" data-toggle="tab">Reports</a></li>
      <li><a href="#settingstab" role="tab" data-toggle="tab">Settings</a></li>

    </ul>
    </li>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="dailytab">

        <div id='wrap'>

          <div id='external-events'>
            <h2>On Deck</h2>
            <div class='fc-event'>Appointment 1</div>
            <div class='fc-event'>Appointment 2</div>
            <div class='fc-event'>Appointment 3</div>
            <div class='fc-event'>Appointment 4</div>
            <div class='fc-event'>Appointment 5</div>
            <p>
              <input type='checkbox' id='drop-remove' />
              <label for='drop-remove'>remove after drop</label>
            </p>
          </div>

          <div id='fullcalendar'></div>

            <script type="text/javascript">

              todayDate = new Date().toISOString().substring(0,10);
              console.log(todayDate);

              $(document).ready(function() {

                // *** switch to this when JSON feed is set up
                var user_id = 2;
                var url = '/api/' + String(user_id);
                console.log('url: ' + url);


                /* initialize the external events
                -----------------------------------------------------------------*/

                $('#external-events .fc-event').each(function() {

                  // store data so the calendar knows to render an event upon drop
                  $(this).data('event', {
                    title: $.trim($(this).text()), // use the element's text as the event title
                    stick: true // maintain when user navigates (see docs on the renderEvent method)
                  });

                  // make the event draggable using jQuery UI
                  $(this).draggable({
                    zIndex: 999,
                    revert: true,      // will cause the event to go back to its
                    revertDuration: 0  //  original position after the drag
                  });

                });


                /* initialize the calendar
                -----------------------------------------------------------------*/

                var calendar = $('#fullcalendar').fullCalendar({
                  schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
                  // You can also dynamically set a calendar's height after initialization - see docs
                  height: 600,
                  now: todayDate,
                  editable: true, // enable draggable events
                  droppable: true, // this allows things to be dropped onto the calendar
                  aspectRatio: 1.8,
                  scrollTime: '06:30', // undo default 6am scrollTime
                  eventOverlap: false,
                  header: {
                    left: 'prev,today,next',
                    center: 'title',
                    right: 'timelineDay,timelineThreeDays,agendaWeek,month'
                  },
                  defaultView: 'timelineDay',
                  views: {
                    timelineThreeDays: {
                      type: 'timeline',
                      duration: { days: 3 }
                    }
                  },
                  resourceLabelText: 'Technicians',
                  // some demo resources
                  resources: [
                    {
                      id: 'a',
                      title: 'Sam',
                      businessHours: {
                          start: '07:00',
                          end: '15:00'
                      }
                    },
                    {
                      id: 'b',
                      title: 'Pat',
                      businessHours: {
                          start: '09:00',
                          end: '17:00'
                      }
                    },
                    {
                      id: 'c',
                      title: 'Kim',
                      businessHours: {
                          start: '11:00',
                          end: '19:00'
                      }
                    }
                  ],
                  // some demo appointments
                  events: [
                    {
                      id: '1',
                      title: 'Full Install',
                      start: todayDate + 'T10:00:00',
                      end: todayDate + 'T12:00:00',
                      resourceId: 'a',
                      color: '#533A7B'
                    },
                    {
                      id: '2',
                      title: 'Service Call',
                      start: todayDate + 'T14:30:00',
                      end: todayDate + 'T15:30:00',
                      resourceId: 'b',
                      color: '#E05263'
                    },
                    {
                      id: '3',
                      title: 'Service Call',
                      start: todayDate + 'T17:00:00',
                      end: todayDate + 'T18:00:00',
                      resourceId: 'c',
                      color: '#E05263'
                    }
                  ],
                  drop: function(date, jsEvent, ui, resourceId) {
                    console.log('drop', date.format(), resourceId);

                    // is the "remove after drop" checkbox checked?
                    if ($('#drop-remove').is(':checked')) {
                      // if so, remove the element from the "Draggable Events" list
                      $(this).remove();
                    }
                  },
                  eventReceive: function(event) { // called when a proper external event is dropped
                    console.log('eventReceive', event);
                  },
                  eventDrop: function(event) { // called when an event (already on the calendar) is moved
                    console.log('eventDrop', event);
                  }



                  // header: {
                  //   left: 'prev,today,next',
                  //   center: 'title',
                  //   right: ''
                  // },
                  // defaultView: 'agendaDay',
                  // allDaySlot: false,
                  // eventOverlap: false,
                  // selectable: true,
                  // selectHelper: true,
                  // select: function(start, end, allDay)
                  // {
                  //   var title = prompt('Event Title:');
                  //   if (title)
                  //   {
                  //     calendar.fullCalendar('renderEvent',
                  //       {
                  //         title: title,
                  //         start: start,
                  //         end: end,
                  //         allDay: allDay
                  //       },
                  //       true // make the event "stick"
                  //     );
                  //   }
                  //   calendar.fullCalendar('unselect');
                  // },
                  // editable: true,

                  // // events: '/api/1'

                  // // some demo appointments
                  // events: [
                  //   {
                  //     id: '1',
                  //     title: 'Full Install',
                  //     start: todayDate + 'T10:00:00',
                  //     end: todayDate + 'T12:00:00',
                  //     resourceId: 'a',
                  //     color: '#533A7B'
                  //   },
                  //   {
                  //     id: '2',
                  //     title: 'Service Call',
                  //     start: todayDate + 'T14:30:00',
                  //     end: todayDate + 'T15:30:00',
                  //     resourceId: 'b',
                  //     color: '#E05263'
                  //   },
                  //   {
                  //     id: '3',
                  //     title: 'Service Call',
                  //     start: todayDate + 'T17:00:00',
                  //     end: todayDate + 'T18:00:00',
                  //     resourceId: 'c',
                  //     color: '#E05263'
                  //   }
                  // ],
                  // // some demo resources
                  // resources: [
                  //   {
                  //     id: 'a',
                  //     title: 'Sam',
                  //     businessHours: {
                  //         start: '07:00',
                  //         end: '15:00'
                  //     }
                  //   },
                  //   {
                  //     id: 'b',
                  //     title: 'Pat',
                  //     businessHours: {
                  //         start: '09:00',
                  //         end: '17:00'
                  //     }
                  //   },
                  //   {
                  //     id: 'c',
                  //     title: 'Kim',
                  //     businessHours: {
                  //         start: '11:00',
                  //         end: '19:00'
                  //     }
                  //   }
                  // ]
                  // // other options go here...



                });
              });

            </script>

          <div style='clear:both'></div>

        </div>
      </div>

      <div class="tab-pane" id="monthlytab">
        <p>Monthly view goes here</p>
        <p>I tried to put another fullcalendar here, set to month view, but couldn't get it to show up - I tried giving it a different div id, giving the variable a different name [as in var calendar = $('#fullcalendar').etc] but those didn't work... really it ought to just switch views in the same calendar anyway - try making the 'Daily' and 'Monthly' tabs just secretly click the fullcalendar 'day' and 'month' buttons?</p>
      </div>
      <div class="tab-pane" id="installerstab"><p>Installers' working hours are viewed and edited here</p></div>
      <div class="tab-pane" id="reportstab"><p>Run reports from here</p></div>
      <div class="tab-pane" id="settingstab"><p>Edit settings here</p></div>

    </div>

    <!-- this is where the main stuff was before I moved it -->

  </div>
  <% include parts/template/jsdefaults.ejs %>
</body>

</html>
