<!DOCTYPE html>

<html>

<head>
  <% include parts/template/head.ejs %>
</head>

<body id="<%= pageID %>">
  <div class="container-fluid">

    <!-- nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#scheduletab" role="tab" data-toggle="tab">Schedule</a></li>
      <li><a href="#installerstab" role="tab" data-toggle="tab">Installers</a></li>
      <li><a href="#reportstab" role="tab" data-toggle="tab">Reports</a></li>
      <li><a href="#settingstab" role="tab" data-toggle="tab">Settings</a></li>

    </ul>
    </li>

    <!-- tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="scheduletab">

        <div id='wrap'>

          <div id='installer-picker'>
            <form action="#">
              <fieldset>
                <select name="installer-selector" id="installer-selector">
                  <option value="AllInstallers" class="all-installers" selected="selected">All Installers</option>
                  <!-- this is where the installers populate -->
                </select>
              </fieldset>
            </form>
          </div> <!-- /#installer-picker -->
          <script>
            $(document).ready(function(){
              // $('select#installer-selector').selectmenu();
            });
          </script>

          <div id='external-events'>
            <h2>On Deck</h2>
            <!-- TODO: put an 'Add New Appointment' button here, styled like an fc-event but different color -->
            <!-- <div class='fc-event'>Appointment 1</div> -->
          </div> <!-- /#external-events -->

          <!-- the calendar! -->
          <div id="fullcalendar"></div>

          <div style='clear:both'></div>

          <div id="eventContent" title="Event Details" style="display:none;">
            Start: <span id="startTime"></span><br>
            End: <span id="endTime"></span><br><br>
            <p id="eventInfo"></p>
            <p><strong><a id="eventLink" href="" target="_blank">Read More</a></strong></p>
          </div>

        </div> <!-- /#wrap -->
      </div> <!-- /.tab-pane active /#scheduletab -->

      <div class="tab-pane" id="installerstab">
        <h3>Installers</h3>
        <div id="installers-fullcalendar"></div>
      </div> <!-- /#installerstab -->

      <div class="tab-pane" id="reportstab"><p>Run reports from here</p></div> <!-- /#reportstab -->
      <div class="tab-pane" id="settingstab"><p>Edit settings here</p></div> <!-- /#settingstab -->

    </div> <!-- /.tab-content -->


    <!-- bootstrap modal for all fullCalendar CRUD -->
    <div id="fullCalModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <!-- <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button> -->
            <h5 id="modalTitle" class="modal-title"></h5>
          </div> <!-- /.modal-header -->

          <div id="modalBody" class="modal-body">
            <form class="form-horizontal">
              <div class="form-group dropdown btn-group" id="appointmentTypeDiv">
                <i class="dropdown-arrow dropdown-arrow-inverse"></i>
                <button class="btn btn-default btn-sm status" data-current_value="">Appointment Type</button>
                <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"> <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-inverse" id="appointmentTypeDropdown" aria-labelledby="appointmentType">
                  <li><a data-appointment_type="1" href="#">Install</a></li>
                  <li><a data-appointment_type="2" href="#">Service Call</a></li>
                  <li><a data-appointment_type="3" href="#">Infrastructure</a></li>
                  <li><a data-appointment_type="4" href="#">Other</a></li>
                  <li><a data-appointment_type="5" href="#">Uninstall</a></li>
                  <li><a data-appointment_type="8" href="#">Site Audit</a></li>
                  <li><a data-appointment_type="10" href="#">Time Off</a></li>
                </ul>
              </div>

              <div class="form-group form-group-sm" id="appointmentTitleDiv">
                <label class="control-label col-sm-3" for="appointment-title">Title</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control input-sm" id="appointmentTitleInput">
                </div>
              </div>

              <!-- TODO: change Start, End and Resource from editable to read-only -->
              <div class='form-group form-group-sm' id='appointmentStartDiv'>
                <label class='control-label col-sm-3' for='appointment-start'>Start</label>
                <div class="col-sm-7">
                  <input type='text' class='form-control input-sm' id='startInput' data-start_input='' placeholder=''>
                </div>
              </div>

              <div class='form-group form-group-sm' id='appointmentEndDiv'>
                <label class='control-label col-sm-3' for='appointment-end'>End</label>
                <div class="col-sm-7">
                  <input type='text' class='form-control input-sm' id='endInput' data-end_input='' placeholder=''>
                </div>
              </div>

              <div class='form-group form-group-sm' id='appointmentResourceDiv'>
                <label class='control-label col-sm-3' for='resource'>Installer ID</label>
                <div class="col-sm-7">
                  <input type='text' class='form-control input-sm' id='resourceInput' data-resource_input='' placeholder=''>
                </div>
              </div>

              <div class="form-group form-group-sm" id="customerIdDiv">
                <label class="control-label col-sm-3" for="customer-id">Customer ID</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control input-sm" id="customerIdInput">
                </div>
              </div>

              <div class="form-group form-group-sm" id="ticketIdDiv">
                <label class="control-label col-sm-3" for="ticket-id">Ticket ID</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control input-sm" id="ticketIdInput">
                </div>
              </div>

              <div class="form-group form-group-sm" id="descriptionDiv">
                <label class="control-label col-sm-3" for="description">Description</label>
                <div class="col-sm-7">
                  <textarea class="form-control input-sm" id="descriptionInput" rows="4"></textarea>
                </div>
              </div>

              <div class="btn-group" data-toggle="buttons" id="appointmentStatusDiv">
                <label class="btn btn-default btn-xs active">
                  <input type="radio" name="options" id="statusActive" data-appointment_status="0" autocomplete="off" checked> Active
                </label>
                <label class="btn btn-default btn-xs">
                  <input type="radio" name="options" id="statusCompleted" data-appointment_status="1" autocomplete="off"> Completed
                </label>
                <label class="btn btn-default btn-xs">
                  <input type="radio" name="options" id="statusCancelled" data-appointment_status="2" autocomplete="off"> Cancelled
                </label>
              </div>

            </form>
          </div> <!-- /#modalBody --> <!-- /.modal-body -->

          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm" id="modalCancelOrClose" data-dismiss="modal"></button>
            <button type="button" class="btn btn-primary btn-sm" id="modalSave">Save</button>
          </div> <!-- /.modal-footer -->

        </div> <!-- /.modal-content -->
      </div> <!-- /.modal-dialog -->
    </div> <!-- /#fullCalModal /.modal fade -->


  </div> <!-- /.container-fluid -->
  <% include parts/template/jsdefaults.ejs %>
</body>

</html>
