<!DOCTYPE html>

<html>

<head>
  <% include parts/template/head.ejs %>
</head>

<body id="<%= pageID %>">
  <div class="container-fluid">

    <!-- nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#scheduletab" role="tab" data-toggle="tab">Schedule</a></li>
      <li><a href="#installerstab" role="tab" data-toggle="tab">Installers</a></li>
      <!-- <li><a href="#reportstab" role="tab" data-toggle="tab">Reports</a></li> -->
      <li><a href="#settingstab" role="tab" data-toggle="tab">Settings</a></li>

    </ul>
    </li>

    <!-- tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="scheduletab">

        <div id='wrap'>

          <div id='installer-picker'>
            <form action="#">
              <fieldset>
                <select name="installer-selector" id="installer-selector">
                  <option value="AllInstallers" class="all-installers" selected="selected">All Installers</option>
                  <!-- this is where the installers populate -->
                </select>
              </fieldset>
            </form>
          </div> <!-- /#installer-picker -->
          <script>
            $(document).ready(function(){
              // $('select#installer-selector').selectmenu();
            });
          </script>

          <div id="external-events">
            <div id="appointment-templates"></div>
            <div id="on-deck"></div>
            <div id="new-on-deck">
              <button type="button" class="btn btn-sm btn-default" id="new-on-deck-btn">New Backlog Item</button>
            </div>
          </div> <!-- /#external-events -->

          <!-- the calendar! -->
          <div id="fullcalendar"></div>

          <div style='clear:both'></div>

          <div id="eventContent" title="Event Details" style="display:none;">
            Start: <span id="startTime"></span><br>
            End: <span id="endTime"></span><br><br>
            <p id="eventInfo"></p>
            <p><strong><a id="eventLink" href="" target="_blank">Read More</a></strong></p>
          </div>

        </div> <!-- /#wrap -->
      </div> <!-- /.tab-pane active /#scheduletab -->

      <div class="tab-pane" id="installerstab">
        <div id="installers-list"><h3>Installers</h3></div>
        <div id="new-installer-btn"><button type="button" class="btn btn-default">New Installer</button></div>
        <!-- <div id="installers-fullcalendar"></div> -->
      </div> <!-- /#installerstab -->

      <!-- <div class="tab-pane" id="reportstab"><p>Run reports from here</p></div> --> <!-- /#reportstab -->
      <div class="tab-pane" id="settingstab"><p>Edit settings here</p></div> <!-- /#settingstab -->

    </div> <!-- /.tab-content -->


    <!-- bootstrap modal for all fullCalendar CRUD -->
    <div id="fullCalModal" class="modal fade" data-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <!-- <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button> -->
            <h4 id="modalTitle" class="modal-title"></h4>
          </div> <!-- /.modal-header -->

          <div id="modalBody" class="modal-body">
            <form class="form-horizontal">

              <div class="form-group form-group-sm" id="appointmentTitleDiv">
                <label class="control-label col-sm-3" for="appointment-title">Appointment Title</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control input-sm" id="appointmentTitleInput">
                </div>
              </div>

              <div class='form-group form-group-sm'>
                <label class='control-label col-sm-3' for='appointment-type'>Appointment Type</label>
                <div class="form-group dropdown btn-group col-sm-7" id="appointmentTypeDiv">
                  <button type="button" class="btn btn-default btn-sm dropdown-toggle status" id="appointmentTypeButton" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false" data-current_value="">Select <span class="caret"></span></button>
                  <ul class="dropdown-menu" id="appointmentTypeDropdown" aria-labelledby="appointmentType">
                  </ul>
                </div>
              </div>

              <div class='form-group form-group-sm' id='appointmentStartDiv'>
                <label class='control-label col-sm-3' for='appointment-start'>Start</label>
                <!-- <div class="col-sm-4"> -->
                  <!-- <input type='text' class='form-control input-sm' id='startInput' data-start_input='' placeholder=''> -->
                  <h6 class="col-sm-7" id='startInput'></h6>
                <!-- </div> -->
              </div>

              <div class='form-group form-group-sm' id='appointmentEndDiv'>
                <label class='control-label col-sm-3' for='appointment-end'>End</label>
                <!-- <div class="col-sm-4"> -->
                  <!-- <input type='text' class='form-control input-sm' id='endInput' data-end_input='' placeholder=''> -->
                  <h6 class="col-sm-7" id='endInput'></h6>
                <!-- </div> -->
              </div>

              <div class='form-group form-group-sm' id='appointmentIdDiv'>
                <label class='control-label col-sm-3' for='appointment-id'>Appointment ID</label>
                <!-- <div class="col-sm-1"> -->
                  <h6 class="col-sm-7" id='appointmentId'></h6>
                <!-- </div> -->
              </div>

              <div class='form-group form-group-sm' id='appointmentResourceDiv'>
                <label class='control-label col-sm-3' for='resource'>Installer ID</label>
                <!-- <div class="col-sm-1"> -->
                  <!-- <input type='text' class='form-control input-sm' id='resourceInput' data-resource_input='' placeholder=''> -->
                  <h6 class="col-sm-7" id='resourceInput'></h6>
                <!-- </div> -->
              </div>

              <div class="form-group form-group-sm" id="customerIdDiv">
                <label class="control-label col-sm-3" for="customer-id">Customer ID</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control input-sm" id="customerIdInput">
                </div>
              </div>

              <div class="form-group form-group-sm" id="ticketIdDiv">
                <label class="control-label col-sm-3" for="ticket-id">Ticket ID</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control input-sm" id="ticketIdInput">
                </div>
              </div>

              <div class="form-group form-group-sm" id="descriptionDiv">
                <label class="control-label col-sm-3" for="description">Description</label>
                <div class="col-sm-7">
                  <textarea class="form-control input-sm" id="descriptionInput" rows="4"></textarea>
                </div>
              </div>

              <div class="form-group form-group-sm">
                <label class="control-label col-sm-3" for="description">Status</label>
                <div class="col-sm-7">
                  <div class="btn-group" data-toggle="buttons" id="appointmentStatusDiv">
                    <label class="btn btn-default btn-xs radio-btn-label active">
                      <input class="radio-btn" type="radio" name="options" id="statusActive" data-appointment_status="0" autocomplete="off" checked> Active
                    </label>
                    <label class="btn btn-default btn-xs radio-btn-label">
                      <input class="radio-btn" type="radio" name="options" id="statusRescheduled" data-appointment_status="1" autocomplete="off"> Rescheduled
                    </label>
                    <label class="btn btn-default btn-xs radio-btn-label">
                      <input class="radio-btn" type="radio" name="options" id="statusCompleted" data-appointment_status="2" autocomplete="off"> Completed
                    </label>
                  </div>
                </div>
              </div>

            </form>
          </div> <!-- /#modalBody --> <!-- /.modal-body -->

          <div class="modal-footer">
            <div class="col-sm-3" id="saveAndCloseButtons">
              <button type="button" class="btn btn-primary btn-sm" id="modalSave">Save</button>
              <button type="button" class="btn btn-default btn-sm" id="modalCancelOrClose" data-dismiss="modal"></button>
            </div>
            <div class="col-sm-8" id="deleteButton">
              <button type="button" class="btn btn-danger btn-sm" id="modalDelete">Delete</button>
            </div>
          </div> <!-- /.modal-footer -->

        </div> <!-- /.modal-content -->
      </div> <!-- /.modal-dialog -->
    </div> <!-- /#fullCalModal /.modal fade -->


  </div> <!-- /.container-fluid -->
  <% include parts/template/jsdefaults.ejs %>
</body>

</html>
