<!DOCTYPE html>

<html>

<head>
  <% include parts/template/head.ejs %>
</head>

<body id="<%= pageID %>">
  <div class="container-fluid">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#scheduletab" role="tab" data-toggle="tab">Schedule</a></li>
      <li><a href="#installerstab" role="tab" data-toggle="tab">Installers</a></li>
      <li><a href="#reportstab" role="tab" data-toggle="tab">Reports</a></li>
      <li><a href="#settingstab" role="tab" data-toggle="tab">Settings</a></li>

    </ul>
    </li>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="scheduletab">

        <div id='wrap'>

          <div id='installer-picker'>
            <form action="#">
              <fieldset>
                <select name="installer-selector" id="installer-selector">
                  <option value="AllInstallers" class="all-installers" selected="selected">All Installers</option>
                  <!-- this is where the installers populate -->
                </select>
              </fieldset>
            </form>
          </div> <!-- /#installer-picker -->
          <script>
            $(document).ready(function(){
              // $('select#installer-selector').selectmenu();
            });
          </script>

          <div id='external-events'>
            <h2>On Deck</h2>
            <!-- TODO: put an 'Add New Appointment' button here, styled like an fc-event but different color -->
            <!-- <div class='fc-event'>Appointment 1</div> -->
          </div> <!-- /#external-events -->

          <div id="fullcalendar"></div>

          <div style='clear:both'></div>

          <div id="eventContent" title="Event Details" style="display:none;">
            Start: <span id="startTime"></span><br>
            End: <span id="endTime"></span><br><br>
            <p id="eventInfo"></p>
            <p><strong><a id="eventLink" href="" target="_blank">Read More</a></strong></p>
          </div>

        </div> <!-- /#wrap -->
      </div> <!-- /.tab-pane active /#scheduletab -->

      <div class="tab-pane" id="installerstab">
        <h3>Installers</h3>
        <div id="installers-fullcalendar"></div>
      </div> <!-- /#installerstab -->

      <div class="tab-pane" id="reportstab"><p>Run reports from here</p></div>
      <div class="tab-pane" id="settingstab"><p>Edit settings here</p></div>

    </div> <!-- /.tab-content -->

    <!-- this is where the main stuff was before I moved it -->

  </div> <!-- /.container-fluid -->
  <% include parts/template/jsdefaults.ejs %>
</body>

</html>
