<!DOCTYPE html>

<html>

<head>
  <% include parts/template/head.ejs %>
</head>

<body id="<%= pageID %>">
  <div class="container-fluid">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#scheduletab" role="tab" data-toggle="tab">Schedule</a></li>
      <li><a href="#installerstab" role="tab" data-toggle="tab">Installers</a></li>
      <li><a href="#reportstab" role="tab" data-toggle="tab">Reports</a></li>
      <li><a href="#settingstab" role="tab" data-toggle="tab">Settings</a></li>

    </ul>
    </li>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="scheduletab">

        <div id='wrap'>

          <div id='installer-picker'>
            <form action="#">
              <fieldset>
                <select name="installer-selector" id="installer-selector">
                  <option value="AllInstallers" class="all-installers" selected="selected">All Installers</option>
                  <option value="Sam">Sam</option>
                  <option value="Pat">Pat</option>
                  <option value="Kim">Kim</option>
                </select>
              </fieldset>
            </form>
          </div> <!-- /#installer-picker -->
          <script>
            $(document).ready(function(){
              // $('select#installer-selector').selectmenu();
            });
          </script>

          <div id='external-events'>
            <h2>On Deck</h2>
            <div class='fc-event'>Appointment 1</div>
            <div class='fc-event'>Appointment 2</div>
            <div class='fc-event'>Appointment 3</div>
            <div class='fc-event'>Appointment 4</div>
            <div class='fc-event'>Appointment 5</div>
          </div> <!-- /#external-events -->

          <div id="fullcalendar"></div>

          <div style='clear:both'></div>

        </div> <!-- /#wrap -->
      </div> <!-- /.tab-pane active /#scheduletab -->

      <div class="tab-pane" id="installerstab"><p>Installers' working hours are viewed and edited here</p></div>
      <div class="tab-pane" id="reportstab"><p>Run reports from here</p></div>
      <div class="tab-pane" id="settingstab"><p>Edit settings here</p></div>

    </div> <!-- /.tab-content -->

    <!-- this is where the main stuff was before I moved it -->

  </div> <!-- /.container-fluid -->
  <% include parts/template/jsdefaults.ejs %>
</body>

</html>
